GOOGLE_API_KEY = "INSERISCI_QUI_LA_TUA_GOOGLE_API_KEY"
PINECONE_API_KEY = "INSERISCI_QUI_LA_TUA_PINECONE_API_KEY"
PINECONE_INDEX_NAME = "odis-creator-rag"
GITHUB_REPO = "riccardo0326/html-files-odis"
GITHUB_BRANCH = "main"
MD_SOURCE_PATH = "md"
